<script type="text/x-kendo-tmpl" id="attachmentEditTemplate">
    
    <div class="attach-view k-widget">
        <div class="edit-buttons">
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
        <a target="_blank" href="http://soiltest.co.il/attach/#= AttachmentUrl #">
            <div class="attachment">
                <img src="http://soiltest.co.il/attach/#= AttachmentUrl #" alt="#:SurveyId # survey" />
                <h3>#:SurveyId# סקר</h3>
                <p>#:AttachmentUrl#</p>
            </div>
        </a>
    </div>
</script>
