
<script type="text/x-kendo-template" id="imageAttachTemplate">
    <a target="_blank" href="http://soiltest.co.il/attach/#= AttachmentUrl #">
        <div class="attachment">
            <img src="http://soiltest.co.il/attach/#= AttachmentUrl #" alt="#:SurveyId # survey" />
            <h3>#:SurveyId# סקר</h3>
            <p>#:AttachmentUrl#</p>
        </div>
        </a>
</script>

